annotated-types==0.8.0
beautifulsoup4==4.15.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
colorama==0.4.6
curl_cffi==0.16.2
idna==3.19
loguru==0.7.3
lxml==6.1.2
multitasking==0.0.13
numpy==2.5.2
pandas==3.0.5
peewee==4.4.0
platformdirs==4.11.5
protobuf==7.36.0
pycparser==3.0
pydantic==2.13.5
pydantic-settings==2.15.0
pydantic_core==2.46.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
pytz==2026.3.post1
requests==2.34.2
six==1.17.0
soupsieve==2.9.2
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
websockets==17.1
win32_setctime==1.2.0 ; sys_platform == "win32"
yfinance==1.7.0
